/* 

#### Primary

- Soft Cyan (Full Slider Bar): hsl(174, 77%, 80%)
- Strong Cyan (Slider Backround): hsl(174, 86%, 45%)
- Light Grayish Red (Discount Background): hsl(14, 92%, 95%)
- Light Red (Discount Text): hsl(15, 100%, 70%)
- Pale Blue (CTA Text): hsl(226, 100%, 87%)  

#### Neutral

- White (Pricing Component Background): hsl (0, 0%, 100%)
- Very Pale Blue (Main Background): hsl(230, 100%, 99%)
- Light Grayish Blue (Empty Slider Bar): hsl(224, 65%, 95%)
- Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%)
- Grayish Blue (Text): hsl(225, 20%, 60%)
- Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%)

- Font size (Introductory Paragraph): 15px

*/

:root {
  --Soft-Cyan: hsl(174, 77%, 80%);
  --Strong-Cyan: hsl(174, 86%, 45%);
  --Light-Grayish-Red: hsl(14, 92%, 95%);
  --Light-Red: hsl(15, 100%, 70%);
  --Pale-Blue: hsl(226, 100%, 87%);
  --White: hsl (0, 0%, 100%);
  --Very-Pale-Blue: hsl(230, 100%, 99%);
  --Light-Grayish-Blue: hsl(224, 65%, 95%);
  --Light-Darkish-Blue: hsl(223, 50%, 87%);
  --Grayish: hsl(225, 20%, 60%);
  --Dark-Desaturated-Blue: hsl(227, 35%, 25%);

  --value: 50%;
  font-size: 62.5%;
  box-sizing: border-box;

}

body,
h1,
p {
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--Very-Pale-Blue);
  padding: 10.5rem 0 0 0;
  background-image: url(/images/pattern-circles.svg),
    url(./images/bg-pattern.svg);
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center 8rem, center 0rem;
}

.headline h1 {
  font-size: 2.6rem;
  color: var(--Dark-Desaturated-Blue);
  text-align: center;
}

.headline p {
  font-size: 1.5rem;
  color: var(--Grayish);
  text-align: center;
  padding-top: 10px;
  line-height: 2.6rem;
}

.box {
  display: block;
  padding: 2rem;
  margin: 8rem auto 5.5rem;
  border-radius: 1.2rem;
  max-width: 95%;
  height: 100%;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  background-color: white;
}

.box h1 {
  color: var(--Grayish);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 0 0 2rem 0;
  margin-top: 2rem;
  margin-left:-2rem;
}

.box span {
  padding-right: 0.5rem;
}

/* Top Slider Container */

.slider {
  margin: 3rem 0 3rem 0;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  border-radius: 8px;
  outline: none;
  background: linear-gradient(
    to right,
    var(--Soft-Cyan) 0 var(--value),
    var(--Light-Grayish-Blue) 0 100%
  );
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  background-color: var(--Strong-Cyan);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  background-color: var(--Strong-Cyan);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slider::-webkit-slider-thumb:hover {
  background-color: hsl(174, 65%, 41%);
}

/* End of Top Slider Container*/

.box p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--Grayish);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.box p span {
  font-size: 3.8rem;
  font-weight: 700;
  padding-right: 1rem;
  color: var(--Dark-Desaturated-Blue);
}

.year-bill {
  display: flex;
}

.year-bill p {
  padding: 0 1rem 0 1rem;
  font-size: 1.5rem;
}

.billing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 0;
  padding: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 1rem;
}

/* Slider start*/

.monthly-slider {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.monthly-slider p {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 2.8rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0.4rem;
  bottom: 0;
  background-color: var(--Light-Darkish-Blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider-round {
  background-color: var(--Strong-Cyan);
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-round {
  border-radius: 34px;
}

.slider-round:before {
  border-radius: 50%;
}

.slider-round:hover {
  background-color: var(--Soft-Cyan);
}
.slider-round:before:hover {
  background-color: var(--Soft-Cyan);
}

/* Slider End */
div .year-bill {
  font-size: 1rem;
  color: var(--Grayish);
}

.year-bill span {
  font-size: 1.2rem;
  border-radius: 9.5px;
  padding: 2px 8px 3px 7px;
  margin-left: 5px;
  margin-top: 2rem;
  color: var(--Light-Red);
  background-color: var(--Light-Grayish-Red);
}

hr {
  margin: 3rem -3rem 2rem -3rem;
  opacity: 0.1;
}

.Features ul {
  list-style: url(./images/icon-check.svg);
  list-style-position: inside;
  text-align: center;
  justify-content: center;
  padding-inline-start: 0rem;
}

.Features li {
  padding: 0.8rem;
  font-size: 1.5rem;
  color: var(--Grayish);
}

.year-bill span .discount-text {
  display: none;
}

.trial-btn{
  margin: 4rem auto;
  position:relative;
  left:0rem;
  display: block;
  padding: 15px 50px 15px 50px;
  border-radius: 4rem;
  background-color: var(--Dark-Desaturated-Blue);
  color: var(--Pale-Blue);
  font-weight: 600;
  letter-spacing: 0.1rem;
  border: none;
  text-align: center;
  font-size: 1.2rem;
}

button:hover {
  color: white;
  cursor: pointer;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.slider-container h1 span {
  width: 100%;
}

@media (min-width: 600px) {
  .box {
    max-width: 540px;
    margin: 5.6875rem auto 8.5625rem;
    padding: 2.5rem 3rem 2rem;
  }

  .Features {
    display: flex;
  }

  .Features ul {
    text-align: left;
  }

  .yearly-bill span {
    display: grid;
    place-content: center;
  }
  .year-bill span .discount-text {
    display: inline;
    margin: 0;
    font-size: 1.2rem;
  }

  body {
    background-image: url(/images/pattern-circles.svg),
      url(./images/bg-pattern.svg);
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }

  .slider-container {
    display: flex;
    flex-wrap: wrap;
  }

  .slider-container h1 {
    order: 1;
    width: 50% !important;
    top: 1rem;
    padding: 2rem;
  }

  .price {
    order: 2;
    width: 50%;
  }

  .slider {
    order: 3;
    width: 100%;
    display: block;
  }

  button {
    margin-right: 0rem;
    
  }
  .trial-btn{
    left:4rem;
    
  }
}
